---
import { Image } from "astro:assets";
import i18next, { t } from "i18next";
import Tecnology from "./Tecnology.astro";

const i18n = i18next.getDataByLanguage(i18next.language) as any;
const i18 = i18n["translation"]["home"]["skills"];
const skills = [
  // {
  //   category: i18.category1,
  //   skillNames: [
  //     { name: "Cloudformation", icon: "cloudformationIcon" },
  //     { name: "AWS", icon: "awsIcon" },
  //   ],
  // },
  {
    category: i18.category2,
    skillNames: [
      { name: "Docker", icon: "dockerIcon" },
      { name: "Docker Compose", icon: "dockerComposeIcon" },
    ],
  },
  {
    category: i18.category3,
    skillNames: [
      { name: "Gitlab", icon: "gitlabIcon" },
      { name: "Github", icon: "githubIcon" },
    ],
  },
  {
    category: i18.category4,
    skillNames: [
      { name: "Nginx", icon: "nginxIcon" },
      { name: "REST", icon: "restIcon" },
      { name: "Graphql", icon: "graphqlIcon" },
      { name: "Apollo", icon: "apolloIcon" },
      { name: "Express", icon: "expressIcon" },
    ],
  },
  {
    category: i18.category5,
    skillNames: [
      { name: "React", icon: "reactIcon" },
      { name: "Angular", icon: "angularIcon" },
      { name: "Astro", icon: "astroIcon" },
      { name: "Nativescript", icon: "nativescriptIcon" },
      { name: "NestJs", icon: "nestjsIcon" },
      { name: "Material-UI", icon: "materialIcon" },
      { name: "Tailwind", icon: "tailwindIcon" },
      { name: "DotNet 5", icon: "dotnetIcon" },
      { name: "Node JS", icon: "nodejsIcon" },
      { name: "Flutter", icon: "flutterIcon" },
    ],
  },
  {
    category: i18.category6,
    skillNames: [
      { name: "MySQL", icon: "mysqlIcon" },
      { name: "PostgreSQL", icon: "postgresqlIcon" },
      { name: "MongoDB", icon: "mongodbIcon" },
      { name: "Redis", icon: "redisIcon" },
      { name: "Firebird", icon: "firebirdIcon" },
    ],
  },
  {
    category: i18.category7,
    skillNames: [
      { name: "Typescript", icon: "typescriptIcon" },
      { name: "CSharp", icon: "csharpIcon" },
      { name: "Javascript", icon: "javascriptIcon" },
      { name: "PHP", icon: "phpIcon" },
      //   { name: "Python", icon: pythonIcon },
      { name: "Yaml", icon: "yamlIcon" },
      { name: "SQL", icon: "sqlIcon" },
      { name: "Dart", icon: "dartIcon" },
    ],
  },
  {
    category: i18.category8,
    skillNames: [
      { name: "Linux", icon: "linuxIcon" },
      { name: "Windows", icon: "windowsIcon" },
    ],
  },
];
---

<div
  class="text-xl font-semibold text-secondary-foreground flex flex-row items-center"
>
  <svg
    width="1em"
    height="1em"
    viewBox="0 0 100 100"
    class="text-accent-300"
    data-icon="round"
  >
    <use xlink:href="#ai:local:round"></use>
  </svg><h1 class="pl-2 font-bold" aria-label="Skills">
    {t("home.skills.title")}
  </h1>
</div>
<div class="flex flex-col gap-y-3">
  {
    skills.map((sk) => (
      <div class="flex flex-col gap-y-2 lg:flex-row md:gap-x-5 md:gap-y-0">
        <h2 class="w-2/5 font-medium text-secondary-foreground">
          {sk.category}
        </h2>
        <div class="flex w-3/5 flex-row flex-wrap gap-x-4 gap-y-2">
          {sk.skillNames.map(({ name, icon }) => (
            <Tecnology name={name} icon={icon} />
          ))}
        </div>
      </div>
    ))
  }
</div>
