---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Project.astro";

changeLanguage("en");
---

<Layout title="Huevos Frescos">
  <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
    <div class="md:col-span-2 md:mr-5">
      <div
        class="bg-white dark:bg-black text-black dark:text-white mt-5 rounded-2xl border border-transparent p-5 md:mt-[5.5rem]"
      >
        <section id="" class="anchor flex flex-col gap-y-5 py-5"></section>
      </div>
    </div>
  </div>
</Layout>

<style></style>
